html,
body,
main {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    background-color: #222222;
}

* {
    margin: 0;
    padding: 0;
}
#name{
    font-size: 2.8rem;
    font-style: bold;
}
.poste{
    color: lightgrey;
}
h1{
    border: 3px solid white;
}
h1,
h4 {
    text-align: center;
    /* margin-top: 3px; */
    padding: 12px;
    color: white;
}
/* .main-header{
    position: sticky; 
    top: 0;
} */
header {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 100%;
    height: 25vh;
    color: white;
    /* opacity: 0.8; */
    /* position: fixed;
    top: 0; */
   
}
hr {
    width: 24rem;
    height: 0.3vh;
    margin-bottom: 5px;
    background-color: white;
}

/*Menu Déroulant (Sidebar)-------------------------------------------------------------------*/
#sidebar {
    position: fixed;
    width: 260px;
    height: 100vh;
    background: grey;
    left: -260px;
    transition: all 400ms linear;
    z-index: 10000;
}
#sidebar.active {
    left: 0px;
}
#sidebar ul li {
    color: white;
    padding: 11px 10px;
    border-bottom: 1px solid white;
    text-align: left;
}
#sidebar li:hover a {
    color: yellow;
}
#sidebar ul li a {
    text-decoration: none;
    font-size: 2em;
    color: white;
}
#sidebar .toggle-btn {
    position: absolute;
    left: 270px;
    top: 20px;
}
#sidebar .toggle-btn span {
    display: block;
    width: 35px;
    height: 5px;
    background: white;
    margin: 6px 0px;
    border-radius: 15px;
}
/*Script pour transformer l'icône du menu de navigation en croix---------------------------------------------*/
.toggle-btn {
    display: inline-block;
    cursor: pointer;
    position: fixed;
}
.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    margin: 6px 0;
    transition: 0.4s;
}
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}
.change .bar2 {
    opacity: 0;
}
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

/*---------------------------------------------------------------------------------*/
/*Timeline*/
h1 {
    text-align: center;
    font-weight: 300;
    color: #777;
}

h1 span {
    font-weight: 600;
}

.container {
    width: 80%;
    padding: 50px 0;
    margin: 50px auto;
    position: relative;
    overflow: hidden;
}

.container:before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -1px;
    width: 5px;
    height: 100%;
    background: white;
    z-index: 1;
}

.timeline-block {
    width: -webkit-calc(50% + 8px);
    width: -moz-calc(50% + 8px);
    width: calc(50% + 8px);
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    justify-content: space-between;
    clear: both;
}

.timeline-block-right {
    float: right;
}

.timeline-block-left {
    float: left;
    direction: rtl;
}

.marker {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 2px solid white;
    background: blue;
    margin-top: 10px;
    z-index: 9999;
}

.timeline-content {
    width: 95%;
    padding: 0 15px;
    color: yellow;
}

.timeline-content h3 {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 22px;
    font-weight: 500;
}

.timeline-content span {
    font-size: 15px;
    color: yellow;
}

.timeline-content p {
    font-size: 14px;
    line-height: 1.5em;
    word-spacing: 1px;
    color: white;
}

/*---------------------------------------------------------------------------------*/

footer section {
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: row wrap;
    justify-content: center;
    align-items: center;
    font-style: italic;
    background-color: #555d5e;
}
footer div {
    width: 100%;
    height: 4vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-style: italic;
    background-color: #555d5e;
}
.imagesFooter:hover {
    margin: 0 50px;
    transform: scale(1.3) rotate(340deg) translateX(10px);
    cursor: pointer;
}
footer {
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #555d5e;
}

/*Taille image dans le footer*/
.imagesFooter {
    width: 10vw;
    height: 18vh;
    margin: 5px 50px;
}
/*---------------------------------------------------------------------------------------------------*/

/* .big {
    font-size: 1.5em;
    margin: 0.2em;
}
.animation {
    display: inline-block;
    position: relative;
} */
/* .animation::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: solid #ccf;
    box-sizing: border-box;
    animation: 1s infinite;
    background-color: white;
} */
/* .animation.A::before {
    animation-name: ping;
}
@keyframes ping {
    0% {
        border-width: 0.25em;
        opacity: 1;
    }
    100% {
        border-width: 0;
        opacity: 0;
    }
} */
/*--------------------------------------------------------------------------------*/
/* #title,
#subtitle, */
#text {
    color: yellow;
    width: 50%;
    display: block;
    margin: auto;
    text-align: justify;
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 8vh
}



.conteneur{
    /* height: 90vh; */
    margin-top: 8vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
#photoPierre {
    background: url(dossierimage/Photo_Pierre.png);
    transition: all .2s ease-in-out;
    border-radius: 15%;
    margin: auto;
    min-width: 15rem;
    max-height: 20rem;
    display:block;
    margin:auto;
    margin-bottom: 6vh;  
}

#photoPierre:hover {
    border-radius: 50%;
    box-shadow: 10px 10px 20px #000 inset;
    /* background-position: 80% 20%; */
} 



/*effet au survol de projInfoContainer----------------*/
::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    opacity: 0.4;
    background: red;
    transition: width 1s;
}
.projInfoContainer:hover::before {
    width: 100%;
}

/*--------------------------------------------------------------------------------*/
/*Compétences*/


.competences{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 10vh;
    margin-bottom: 10vh;
    
}
.competencesMetier{
    flex-flow: row wrap;
    background: rgba(245, 245, 245, 0.95);
    min-width: 45vw;
    min-height: 60vh;
    cursor: pointer;
    margin: 5vh auto;
}
.type{
    color: grey;
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 2vh;
    margin-top: 2vh;
    font-weight: bold;
}
#enteteFE {
    background-color: orange;
    height: 12vh;
}
#enteteBE {
    background-color: #00bfff;
    height: 12vh;
}
#enteteT {
    background-color: #32cd32;
    height: 12vh;
}
#compAnimation{
    width: 80px;
    height: 90px;
    display: block;
    margin: auto;
}
.animationFE:hover {
    cursor: pointer;
    transition: 0.8s ease-out;
    transform: rotateZ(720deg);
}

.animationBE:hover {
    cursor: pointer;
    transition: 2s ease-out;
    transform: rotateZ(720deg);
}
.animationT:hover {
    cursor: pointer;
    animation: plus 01s linear infinite;
}
@keyframes plus {
    from {
        transform: scale(0.2);
    }
    to {
        transform: scale(1.2);
    }
}
.compLogo{
    width: 8vw;
    height: 16vh;
    
}
.compImage{
    min-width: 25vw;
    min-height: 40vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;   
}


/*------------------------------------------------*/
/*Compétences : tableau de maîtrise des langages informatiques*/
.comp {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin-top: 35px;
}

.conteneur-barre {
    flex: 0 0 90%;
    background-color: white;
    height: 1.8rem;
    width: 80%
}
.barre {
    display: block;
    height: 100%;
    text-align: right;
    color: white;
    font-weight: bold;
    


}
.HTML {
    width: 50%;
    background-color: rgb(96, 96, 212);
    font-size: 1.5rem;
    color: yellow;
    text-align: center;
    
}
.HTML:hover {
    background-color: red;
}
.CSS {
    width: 60%;
    background-color: rgb(96, 96, 212);
    font-size: 1.4rem;
    color: yellow;
    text-align: center;
}
.CSS:hover {
    background-color: red;
}
.JS {
    width: 30%;
    background-color: rgb(96, 96, 212);
    font-size: 1.4rem;
    color: yellow;
    text-align: center;
}
.JS:hover {
    background-color: red;
}
.php {
    width: 25%;
    background-color: rgb(96, 96, 212);
    font-size: 1.4rem;
    color: yellow;
    text-align: center;
}
.php:hover {
    background-color: red;
}
.MySQL {
    width: 25%;
    background-color: rgb(96, 96, 212);
    font-size: 1.4rem;
    color: yellow;
    text-align: center;
}
.MySQL:hover {
    background-color: red;
}
.VBA {
    width: 75%;
    background-color: rgb(96, 96, 212);
    font-size: 1.4rem;
    color: yellow;
    text-align: center;
}
.VBA:hover {
    background-color: red;
}
/*-----------------------------------------------------------------------------------------*/
/*Section REALISATIONS*/

.realisations{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-top: 5vh;
    margin-bottom: 5vh;
}
.projet{
    /* border-radius: 0px 0px 25px 25px; */
    flex-direction: row wrap;
    background: rgba(245, 245, 245, 0.95);
    border: 2px solid yellow;
    min-width: 40vw;
    min-height: 40vh;
    cursor: pointer;
    margin: 5vh auto ;
}
.projet h2{
    color: #444;
    transition: 0.3s;
    margin: 0;
}
.categorie{
    color: #57c0de;
    font-weight: bold;
    font-size: 1.4rem;
    margin-top: 0;
    font-style: italic;
}
.description{
    color: #333;
    font-size: 1.2rem;
}

#imgProjet{
    max-width: 100%;
    max-height: 100%;
    transition: 0.3s;
}
/*effet au survol de "projet"----------------*/
/* ::before{
    content:"";
    /* position: absolute; */
    /* top: 0;
    left: 0;
    width: 0;
    height: 100%;
    opacity: 0.4;
    background: red;
    transition: width 1s;
}
.projet:hover::before{
    width: 100%;
} */ 
/*------------------------------------------------------*/
.projCat {
    color: #57c0de;
    font-weight: bold;
    margin-top: 0;
    font-style: italic;
}
.projSpec {
    color: #333;
}
/*-----------------------------------------------------------------------------------*/
/*Section Diplomes*/
.diplomesObtenus{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}
.diplome1{
    border-radius: 25px;
    flex-direction: row;
    background-color: white;
    min-width: 26vw;
    height: 60vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
}
.diplome2{
    border-radius: 25px;
    flex-direction: row;
    background-color: white;
    min-width: 26vw;
    height: 60vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
}
.diplome3{
    border-radius: 25px;
    flex-direction: row;
    background-color: white;
    min-width: 26vw;
    height: 60vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
}
.diplome1 p{
    color: black;
    font-size: 1.8rem;
    margin-top: 2vh;
    margin-bottom: 4vh; 
    text-align: center;
}
.diplome2 p{
    color: black;
    font-size: 1.8rem;
    margin-top: 2vh;
    margin-bottom: 4vh; 
    text-align: center;
}
.diplome3 p{
    color: black;
    font-size: 1.8rem;
    margin-top: 2vh;
    margin-bottom: 4vh; 
    text-align: center;
}
#imgDiplome{
    max-width: 25vw;
    max-height: 35vh;
    display: block;
    margin: auto;
}

/*---------------------------------------------------------------------------------*/
/*HOBBIES*/
.centreInteret {
    width: 100%;

    display: flex;
    flex-direction: row wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 4%;
    margin-bottom: 4%;
}
.interet {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}
.interet img {
    width: 11rem;
    height: 11rem;
    border-radius: 50%;
    box-shadow: 0px 0px 15px #555;
}
figcaption {
    width: 22rem;
    font-size: 1.3em;
    margin-top: 10px;
    text-align: center;
    color: white;
}

/*-----------------------------------------------------------------------------------*/
/*Contact*/
.contact{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin-top: 5vh;
    margin-bottom: 5vh;
}
.coordonnees{
    flex-direction: row;
    background: rgba(245, 245, 245, 0.95);
    min-width: 25vw;
    min-height: 35vh;
    cursor: pointer;
}
.coordonnees h2{
    color: black;
    font-size: 1.8rem;
    text-align: center;
    margin-top: 8vh;
}
#enteteTelephone {
    background-color: orange;
    height: 12vh;
}
#enteteMail {
    background-color: #00bfff;
    height: 12vh;
}
#enteteAdresse {
    background-color: #32cd32;
    height: 12vh;
}
.imgCoordonnees{
    width: 90px;
    height: 95px;
    margin-top: 6vh;
    display: block;
    margin: auto;
}
#animationTelephone:hover {
    cursor: pointer;
    transition: 0.8s ease-out;
    transform: rotateZ(720deg);
}
#animationMail:hover {
    cursor: pointer;
    transition: 2s ease-out;
    transform: rotateZ(720deg);
}
#animationAdresse:hover {
    cursor: pointer;
    animation: plus 01s linear infinite;
}
@keyframes plus {
    from {
        transform: scale(0.2);
    }
    to {
        transform: scale(1.2);
    }
}



.CV {
    width: 19vw;
    height: 40vh;
    
}
#CV {
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
} 
#CV p {
    font-size: 1.3em;
    font-weight: bold;
    margin-top: 2vh;
    margin-bottom: 5vh;
    color: white;
}
.formulaireContact {

    font-size: 1.3em;
    font-weight: bold;
    color: yellow;
    margin-bottom: 5vh;
}


/*RETOUR HAUT DE PAGE-----------------------------------------*/
a#cRetour{
    border-radius:100%;
    padding:35px;
    font-size: 50px;
    text-align:center;
    color:#fff;
    background:rgba(0, 0, 0, 0.5);
    position:fixed;
    opacity:1;
    z-index:99999;
    transition:all ease-in 0.5s;
    backface-visibility: hidden;
    text-decoration: none;
  }
  a#cRetour:before{ 
    content: "\25b2";
    margin-left: 11px; 
    margin-top: 2px;
  }
  a#cRetour:hover{
    background:rgba(0, 0, 0, 1);
    transition: all ease-in 0.2s;
  }
  a#cRetour.cInvisible{
    right:-35px;
    opacity: 0;
    transition: all ease-in 1s;
  }
  
  a#cRetour.cVisible{
    bottom: 12px;
    opacity: 1;
  }



/*MEDIA QUERY---------------------------------------------------------------------------------------*/

/*MEDIA QUERIES-------------------------------------------------------*/
@media screen and (min-width: 767px) and (max-width: 1023px) {
    /*A PROPOS*/
    #text {
        
        width: 80%;
        display: block;
        margin: auto;
        text-align: justify;
        font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
        font-weight: bold;
        font-size: 1.3rem;
    }
    .conteneur{
        margin-bottom: 10vh; 
    }
    
/*--------------------------------------------------------------------------------*/
/*Compétences*/


.competences{
    /* display: flex; */
    flex-flow: column wrap;
    /* justify-content: space-around;
    align-items: center; */
    margin-top: 5vh;
    margin-bottom: 5vh;  
}
.competencesMetier{
    /* flex-flow: row wrap;
    background: rgba(245, 245, 245, 0.95); */
    width: 90%;
    /* cursor: pointer;
    margin: 5vh auto; */
}
#compAnimation{
    /* width: 80px; */
    height: 125px;
    /* display: block;
    margin-top: auto; */
}
#enteteFE {
    height: 20vh;
}
#enteteBE {
    height: 20vh;
}
#enteteT {
    height: 20vh;
}

    /*---------------------------------------------------------------------------------*/
    /*Hobbies*/
    .centreInteret {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: center;
        margin-top: 3vh;
        margin-left: 0%;  
    }
   
    figcaption {
        font-size: 1.0rem;
        margin-bottom: 8vh;
    }

    /*---------------------------------------------------------------------------*/
    /*Contact*/
    /* .boiteFlexibleGénéraleContact{
        height: 110vh;
        margin-bottom: 30vh
    } */
    #boiteFlexibleContact {
        display: flex;
        flex-flow: column wrap;
        justify-content: space-around; 
    }
    #boiteFlexible2Contact{
        display: flex;
        flex-direction: row;
        justify-content: center; 
    }
    #boiteFlexible3Contact{
        display: flex;
        flex-direction: row;
        justify-content: center;  
    } 
    .boiteFlexibleSecondaireContact{
        height: 110vh;
        margin-bottom: 20vh;
        margin-top: 5%;
    }
    .CV {
        width: 25%;
        height: 65%;    
    }












    /*-------------------------------------------------------------------------------*/
    footer {
        width: 100%;
        height: 35vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background-color: #555d5e;
    }
    /*Taille image dans le */
    .imagesFooter {
        width: 12vw;
        height: 18vh;
        margin: 5px 50px;
    }
}
/*-----------------------------------------------------------------------------------------------*/
@media screen and (min-width: 300px) and (max-width: 767px) {
    header{
        padding-right: 10vw;
        text-align: center;
        margin-right: 50px;
    }
    #name{
        font-size: 1.5rem;
        font-style: bold;
        text-align: center;
    }
    .poste{
        color: lightgrey;
        font-size: 0.8rem;
        font-style: bold;
        text-align: center;
    }
    hr {
        width: 13rem;
        height: 0.3vh;
        
        background-color: white;
        margin: 5px auto;
    }

    /*RETOUR HAUT DE PAGE-----------------------------------------*/
a#cRetour{
    padding:25px;
    font-size: 40px;
  }
  a#cRetour:before{ 
    margin-left: 6px; 
    margin-top: 1px;
  }
 
  a#cRetour.cInvisible{
    bottom:-25px;
  }
/*-------------------------------------*/
    #text {
        color: yellow;
        width: 80%;
        display: block;
        margin: auto;
        text-align: justify;
        font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
        font-weight: bold;
        font-size: 0.8rem;
        margin-bottom: 8vh
    }
/*---------------------------------------------------------------------------------*/
/*Timeline*/
    .marker {
     display: none;
    }
    .timeline-content {
        width: 95%;
        padding: 0 15px;
        color: yellow;
    }
    .timeline-content span {
        font-size: 15px;
        color: white;
    }
    .timeline-content p {
       display: none;
    }

/*-----------------------------------------------------------------------------------*/
/*Section Diplomes*/

.diplome1{
    border-radius: 25px;
    flex-direction: row;
    background-color: white;
    width: 90%;
    /* min-width: 26vw;
    height: 60vh; */
    margin-top: 5vh;
    margin-bottom: 5vh;
}
.diplome2{
    border-radius: 25px;
    flex-direction: row;
    background-color: white;
    width: 90%;
    /* min-width: 26vw;
    height: 60vh; */
    margin-top: 5vh;
    margin-bottom: 5vh;
}
.diplome3{
    border-radius: 25px;
    flex-direction: row;
    background-color: white;
    width: 90%;
    /* min-width: 26vw;
    height: 60vh; */
    margin-top: 5vh;
    margin-bottom: 5vh;
}
#imgDiplome{
    max-width: 40vw;
    max-height: 50vh;
    display: block;
    margin: auto;
}
/*---------------------------------------------------------------------------------*/
/*Centres d'intérêts*/
.centreInteret {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 8vh;
    margin-bottom: 8vh;
}
.interet {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin-bottom: 10vh;
}
/*---------------------------------------------------------------------------------*/
/*Footer*/

/*---------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------*/
/*Compétences*/


.competences{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 10vh;
    margin-bottom: 10vh;
    
}
.competencesMetier{
    flex-direction: column;
    background: rgba(245, 245, 245, 0.95);
    width: 90%;
    height: 90%;
    cursor: pointer;
    margin: 5vh auto;
}
.type{
    color: grey;
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 2vh;
    margin-top: 2vh;
    font-weight: bold;
}
#enteteFE {
    background-color: orange;
    height: 25vh;
}
#enteteBE {
    background-color: #00bfff;
    height: 25vh;
}
#enteteT {
    background-color: #32cd32;
    height: 25vh;
}
#compAnimation{
    width: 20vw;
    height: 25vh;
    /* display: block; */
    margin: auto;
}
.animationFE:hover {
    cursor: pointer;
    transition: 0.8s ease-out;
    transform: rotateZ(720deg);
}

.animationBE:hover {
    cursor: pointer;
    transition: 2s ease-out;
    transform: rotateZ(720deg);
}
.animationT:hover {
    cursor: pointer;
    animation: plus 01s linear infinite;
}
@keyframes plus {
    from {
        transform: scale(0.2);
    }
    to {
        transform: scale(1.2);
    }
}
.compLogo{
    min-width: 22vw;
    min-height: 10vh;
    margin: auto;
}
    

.compImage{
    min-width: 25vw;
    min-height: 40vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;   
}
/*------------------------------------------------*/
/*Compétences : tableau de maîtrise des langages informatiques*/
.comp {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin-top: 35px;
}

.conteneur-barre {
    flex: 0 0 90%;
    background-color: white;
    height: 1.8rem;
    width: 80%
}
.barre {
    display: block;
    height: 100%;
    text-align: right;
    color: white;
    font-weight: bold;
}
.HTML {
    font-size: 1.3rem;
    color: yellow;
    text-align: left;
    
}
.HTML:hover {
    background-color: red;
}
.CSS {
    font-size: 1.3rem;
    text-align: left;
    color: yellow;
}
.CSS:hover {
    background-color: red;
}
.JS {
    font-size: 1.3rem;
    text-align: left;
    color: yellow;
}
.JS:hover {
    background-color: red;
}
.php {
    font-size: 1.3rem;
    text-align: left;
    color: yellow;
}
.php:hover {
    background-color: red;
}
.MySQL {
    font-size: 1.3rem;
    text-align: left;
    color: yellow;
}
.MySQL:hover {
    background-color: red;
    color: yellow;
}
.VBA {
    font-size: 1.3rem;
    text-align: left;
    color: yellow;
}
.VBA:hover {
    background-color: red;
}
/*--------------------------------------------------------------------------------*/
/*Compétences*/
.competences{
    /* display: flex; */
    flex-flow: column wrap;
    /* justify-content: space-around;
    align-items: center; */
    margin-top: 10vh;
    margin-bottom: 10vh;  
}
.competencesMetier{
    /* flex-flow: row wrap;
    background: rgba(245, 245, 245, 0.95); */
    width: 90%;
    /* cursor: pointer;
    margin: 5vh auto; */
}
#compAnimation{
    /* width: 80px; */
    height: 95%;
    /* display: block;
    margin-top: auto; */
}
#enteteFE {
    height: 25vh;
}
#enteteBE {
    height: 25vh;
}
#enteteT {
    height: 25vh;
}
.compLogo{
    width: 15%;
    height: 15%;
    
}
/*-----------------------------------------------------------------------------------*/
/*Section Diplomes*/
.diplomesObtenus{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}
.diplome1{
    width: 90%;
    height: 70vh;
}
.diplome2{
    width: 90%;
    height: 70vh;
}
.diplome3{
    width: 90%;
    height: 70vh;
}
.diplome1 p{
    font-size: 1.5rem;
}
.diplome2 p{
    font-size: 1.5rem;
}
.diplome3 p{
    font-size: 1.5rem;   
}
#imgDiplome{
    max-width: 100%;
    max-height: 30vh;
}

/*---------------------------------------------------------------------------------*/
/*Footer*/
footer div p{
    text-align: center;
    font-size: 0.8rem;
    margin-bottom: 1vh;
}
/*Taille image dans le footer*/
.imagesFooter {
    width: 75%;
    height: 75%;
    /* margin: 5px 50px; */
}
/*-----------------------------------------------------------------------------------*/
/*Contact*/
.contact{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    /* margin-top: 5vh; */
    /* margin-bottom: 5vh; */
}
.coordonnees{
    flex-direction: column;
    background: rgba(245, 245, 245, 0.95);
    width: 100%;
    min-height: 40vh;
    cursor: pointer;
    margin-bottom: 10vh;
    
}
.coordonnees h2{
    color: black;
    font-size: 1.6rem;
    text-align: center;
    margin-top: 8vh;
}
#enteteTelephone {
    background-color: orange;
    height: 16vh;
}
#enteteMail {
    background-color: #00bfff;
    height: 16vh;
}
#enteteAdresse {
    background-color: #32cd32;
    height: 16vh;
}
.imgCoordonnees{
    width: 100%;
    height: 100%;  
}
.CV {
    min-width: 120px;
    min-height: 180px;
    margin-bottom: 8vh;
    
}
#CV {
    width: 100%;
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
} 
#CV p {
    font-size: 1rem;
    font-weight: bold;
    margin-top: 2vh;
    margin-bottom: 5vh;
    color: white;
    text-align: center;
}
.formulaireContact {

    font-size: 1.3rem;
    font-weight: bold;
    color: yellow;
    margin-bottom: 5vh;
}
}

/*-----------------------------------------------------------------------------------------------*/
@media screen and (min-width: 768px) and (max-width: 1279px) {

/*Compétences*/
.competences{
    /* display: flex; */
    flex-flow: column wrap;
    /* justify-content: space-around;
    align-items: center; */
    margin-top: 10vh;
    margin-bottom: 10vh;  
}
.competencesMetier{
    /* flex-flow: row wrap;
    background: rgba(245, 245, 245, 0.95); */
    width: 90%;
    /* cursor: pointer;
    margin: 5vh auto; */
}
#compAnimation{
    /* width: 80px; */
    height: 95%;
    /* display: block;
    margin-top: auto; */
}
#enteteFE {
    height: 25vh;
}
#enteteBE {
    height: 25vh;
}
#enteteT {
    height: 25vh;
}
.compLogo{
    min-width: 22vw;
    min-height: 10vh;
    margin: auto;
    
}
/*-----------------------------------------------------------------------------------*/
/*Section Diplomes*/
.diplome1{
    border-radius: 25px;
    flex-direction: row;
    background-color: white;
    width: 90%;
    /* min-width: 26vw;
    height: 60vh; */
    margin-top: 5vh;
    margin-bottom: 5vh;
}
.diplome2{
    border-radius: 25px;
    flex-direction: row;
    background-color: white;
    width: 90%;
    /* min-width: 26vw;
    height: 60vh; */
    margin-top: 5vh;
    margin-bottom: 5vh;
}
.diplome3{
    border-radius: 25px;
    flex-direction: row;
    background-color: white;
    width: 90%;
    /* min-width: 26vw;
    height: 60vh; */
    margin-top: 5vh;
    margin-bottom: 5vh;
}
#imgDiplome{
    max-width: 40vw;
    max-height: 32vh;
    display: block;
    margin: auto;
}
/*-----------------------------------------------------------------------------------*/
/*Contact*/
.contact{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    /* margin-top: 5vh; */
    /* margin-bottom: 5vh; */
}
.coordonnees{
    flex-direction: column;
    background: rgba(245, 245, 245, 0.95);
    width: 100%;
    min-height: 40vh;
    cursor: pointer;
    margin-bottom: 10vh;
    
}
.coordonnees h2{
    color: black;
    font-size: 2.5rem;
    text-align: center;
    margin-top: 8vh;
}
#enteteTelephone {
    background-color: orange;
    height: 16vh;
}
#enteteMail {
    background-color: #00bfff;
    height: 16vh;
}
#enteteAdresse {
    background-color: #32cd32;
    height: 16vh;
}
.imgCoordonnees{
    width: 100%;
    height: 100%;  
}
/*---------------------------------------------------------------------------------*/
    /*Hobbies*/
    .centreInteret {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        margin-top: 5vh;
        margin-bottom: 5vh;
      
    }
   
    figcaption {
        font-size: 1.0rem;
        margin-bottom: 8vh;
        /* display: none; */
    }

}

